<html>
    <head>

    </head>
   <body>
     
        {{!--<p><img src='https://image.tmdb.org/t/p/original/stQoHvo0q6ZcEkji2Z1wlAxKnDq.jpg' width="250" height="250"/><br></p>--}}
        <p><img src='https://image.tmdb.org/t/p/original{{poster_path}}' width="250" height="250"/><br></p>
       
        <ul>
            <li>Id: {{id}}</li>
            <li>Title: {{original_title}}</li>
            <li>Overview: {{overview}}</li>  
            <li>Director: {{director}}</p></li>      
        </ul>


        {{!--<p><b>Director:</b> {{director}}</p>--}}
        <table>
            <tr>
                <th>Character</th>
                <th>Name</th>
            </tr>
        {{#each cast}}
                <tr>
                    <td>{{character}}</td>
                    <td>
                        <a href='/../actors/{{id}}'>
                        {{name}}
                        </a>
                    </td>

                </tr>
            {{/each}}
        </table>
    </body>
</html>