<html>
    <head>

    </head>
   <body>
     
        {{!--<p><img src='https://image.tmdb.org/t/p/original/stQoHvo0q6ZcEkji2Z1wlAxKnDq.jpg' width="250" height="250"/><br></p>--}}
        <p><img src='https://image.tmdb.org/t/p/original{{poster_path}}' width="250" height="250"/><br></p>
       
        <ul>
            <li>Id: {{id}}</li>
            <li>Title: {{title}}</li>
            <li>Vote Average: {{vote_average}}</li>
            <li>Overview: {{overview}}</li>        
        </ul>
    </body>
</html>